<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout2}">
<head>
    <meta charset="UTF-8">
    <title>모르는 개 산책 :: 공지쓰개</title>

    <th:block layout:fragment="script">

        <script th:inline="javascript">

            $(document).ready(function errMsg() {

                var errorMessage = [[${errorMessage}]]
                if (errorMessage != null) {
                    alert(errorMessage);
                }

                /*삭제버튼을 눌렀을때 장바구니 아이템 삭제*/
                $(".delBtn").on("click", function () {


                    if (confirm("정말 삭제하시겠습니까? 😥") == true) {    //확인

                        let a = $(this).find('span:eq(0)')  //jquery

                        console.log(a)

                        deleteNotice(a)

                    } else {


                    }

                })

            })


            function deleteNotice(obj){

                let noticeId = obj.data("id");    //아이템의 아이디를 가져온다.
                let url = "/admin/notice/remove/" + noticeId;

                let url1 = "/notice/read/" + noticeId;

                console.log(noticeId)

                // alert(url);

                $.ajax({
                    url :url,
                    type : "get" ,
                    dataType : "json",
                    success : function (result) {

                        location.href='/notice/list';
                    },
                    error : function (result, status, error) {

                        if(result.status == '401'){
                            // alert(result.responseText+'로그인 후 이용해주세요');
                            alert('권한이 없다개');
                            location.href = '/user/login';
                        }else if(result.status == '200') {
                            alert(result.responseText + " 글을 삭제 완료 했습니다😥")
                            location.href='/notice/list';
                        }else {
                            // alert("글을 삭제 완료 했습니다😥")
                            alert("확인요망 : " + result.responseText )
                            alert("확인요망 : " + result.status )
                            location.href=url1;
                        }
                    }
                });
                //삭제버튼은 버튼자체의 태그를 갖는다.

            }

        </script>
    </th:block>

</head>
<body>

<div layout:fragment="content">

    <div class="row row-cols-1  g-4">
        <div class="col">
            <div class="card border-light shadow">

                <div class="card-body">

                    <h4>공지쓰개</h4>

                    <hr>

                    <div class="row row-cols-1  row-cols-md-1">
                        <div class="col">


                            <form  method="post" th:object="${noticeDTO}">

                                <input type="hidden" th:field="*{id}">

<!--                                <input type="text" th:field="*{writer}">-->
                                <!--<input type="text" readonly th:value="${userDTO.nickname}">-->


                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="title">제목</span>
                                    <input type="text"  th:field="*{title}" class="form-control" placeholder="제목을 입력해주세요" aria-label="Username" aria-describedby="basic-addon1">
                                    <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="fieldError">

                                    </p>
                                </div>


                                <div class="input-group mb-3">
                                    <span class="input-group-text">글 상세 내용</span>
                                    <textarea class="form-control" th:field="*{content}" aria-label="상세 내용을 입력해주세요"></textarea>
                                    <p th:if="${#fields.hasErrors('content')}" th:errors="*{content}" class="fieldError">

                                    </p>
                                </div>


                                <!--                                 넘어오는 이미지 파일이 있다면 , 데이터값 db-->
                                <div th:if =  "${#strings.isEmpty(noticeDTO.id)}" style="text-align: center">

                                    <button th:formaction="@{/admin/notice/new}" type="submit" class="btn btn-success">작성완료</button>

                                </div>


                                <div th:unless="${#strings.isEmpty(noticeDTO.id)}" style="text-align: right">
                                    <button th:formaction="@{'/admin/notice/modify/' + ${noticeDTO.id}  }" type="submit" class="btn btn-light btn-sm modBtn">수정</button>
                                    <a th:href="@{'/admin/notice/remove/' + ${noticeDTO.id} }" class="btn btn-danger btn-sm delBtn">
                                        삭제
                                    </a>
                                </div>


<!--                                <div th:unless="${#strings.isEmpty(noticeDTO.id)}">-->
<!--                                    <button th:formaction="@{'/notice/admin/modify/' + ${noticeDTO.id}  }" type="submit" class="btn btn-light btn-sm modBtn">수정</button>-->
<!--                                    <a th:href="@{'/quest/remove/' + ${noticeDTO.id} }" class="btn btn-danger btn-sm delBtn">-->
<!--                                        삭제-->
<!--                                    </a>-->
<!--                                </div>-->


                            </form>



                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

</div>

</body>
</html>