<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout2}">
<head>
    <meta charset="UTF-8">
    <title>모르는 개 산책 :: 회원 관리</title>

    <th:block layout:fragment="script">

        <script th:inline="javascript">

            $(document).ready(function errMsg() {

                var errorMessage = [[${errorMessage}]]
                if (errorMessage != null) {
                    alert(errorMessage);
                }

                /*삭제버튼을 눌렀을때 장바구니 아이템 삭제*/
                $(".delBtn").on("click", function () {


                    if (confirm("해당 회원을 정말 탈퇴하시겠습니까? 😥") == true) {    //확인

                        let a = $(this).find('span:eq(0)')  //jquery

                        console.log(a)

                        deleteUser(a)

                    } else {


                    }



                })

            })


            function deleteUser(obj) {

                var userId = prompt("탈퇴 시킬 회원의 번호를 다시 한번 확인 해주세요.")
                let url = "/admin/user/remove/" + userId;

                let url1 = "/admin/user/list"

                console.log(userId)

                // alert(url);

                $.ajax({
                    url: url,
                    type: "get",
                    dataType: "json",
                    success: function (result) {

                        location.href = '/admin/user/list';
                    },
                    error: function (result, status, error) {

                        if (result.status == '401') {
                            // alert(result.responseText+'로그인 후 이용해주세요');
                            alert('권한이 없다개');
                            location.href = '/user/login';
                        } else if (result.status == '200') {
                            alert(result.responseText + " 회원을 탈퇴 완료 했습니다")
                            location.href = '/admin/user/list';
                        } else {
                            // alert("글을 삭제 완료 했습니다😥")
                            alert("확인요망 : " + result.responseText)
                            alert("확인요망 : " + result.status)
                            location.href = "/admin/user/list";
                        }
                    }
                })
                //삭제버튼은 버튼자체의 태그를 갖는다.
            }


        </script>

    </th:block>


</head>
<body>

<div layout:fragment="content">

    <div class="row row-cols-1  g-4">

        <div class="col">
            <div class="card border">




                <div class="card-body">

                    <div >
                        <h4>😎 회원관리</h4>
                    </div>

                    <hr>

                    <div style="margin:15px auto">
                        <table class="table" style="text-align: center">
                            <thead>
                            <tr class="table-success">
                                <th scope="col" style="width:7%">번호</th>
                                <th scope="col" style="width:22%">별명 (이메일)</th>
                                <th scope="col" style="width:10%">이름</th>
                                <th scope="col" style="width:16%">주소</th>
                                <th scope="col" style="width:15%">생년월일</th>
                                <th scope="col" style="width:15%">가입일</th>
                                <th scope="col" style="width:10%">관리</th>
                            </tr>
                            </thead>
                            <th:block th:each="user, status: ${users.getContent()} ">
                                <tbody>
                                <tr role="row">
                                    <th scope="row">[[${user.id}]]</th>
                                    <td>[[${user.nickname}]] ([[${user.email}]])</td>
                                    <td>[[${user.name}]]</td>
                                    <td>[[${user.address}]]</td>
                                    <td>[[${#temporals.format(user.birth, 'yyyy-MM-dd')}]]</td>
                                    <td>[[${#temporals.format(user.regTime, 'yyyy-MM-dd')}]]</td>
                                    <td>
                                        <button th:href="@{'/admin/user/remove/' + ${user.id} }" type="button" class="btn btn-danger delBtn"
                                                style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                                        탈퇴 </button>
                                    </td>
                                </tr>
                                </tbody>
                            </th:block>
                        </table>
                    </div>


                </div>

            </div>

        </div>
    </div>

</div>



</body>
</html>