<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<head>
    <link rel="stylesheet" href="/css/layout1.css" />
    <meta charset="UTF-8">
    <title>산책 정보</title>
</head>
<body>

    <div layout:fragment="content">

        <div class="row row-cols-1  g-4">
            <div class="col">
                <div class="card border-light shadow" style="height: 180%">

                    <div class="card-body">
                        <div style="margin-top: 10px">
                            <h4>🐶 찜한 산책</h4>


                        </div>


                        <hr>

                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>

                        <div style="text-align: center">
                            목록이 비어있다개🙀
                        </div>


                    </div>

                </div>
            </div>
        </div>

    </div>

</body>
</html>