<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.w3.org/1999/xhtml"
        prefix="fmt" uri="http://java.sun.com/jsp/jstl/fmt"
      layout:decorate="~{layouts/layout1}">
<head>
    <link rel="stylesheet" href="/css/layout1.css" />
    <meta charset="UTF-8">
    <title>모르는 개 산책 :: 대화하개 상세보기</title>

    <th:block layout:fragment="script">

        <script th:inline="javascript">
            $(document).ready(function () {

                var errorMessage = [[${errorMessage}]];

                if (errorMessage != null) {
                    //모달로 띄우면 좀더 아름답지 않을까?
                    alert(errorMessage);
                }


                $(".delBtn").on("click" , function (e) {
                    e.preventDefault()

                    if (confirm("정말 삭제하시겠습니까??") == true) {    //확인

                        let a = $(this).find('span:eq(0)')  //jquery

                        console.log(a)

                        deleteBoard(a)

                    } else {



                    }

                })


            })


            // 삭제버튼을 눌렀을때 실행하는
            function deleteBoard(obj){



                var boardId = [[${boardId}]];    //아이템의 아이디를 가져온다.
                let url = "/board/remove/" + boardId;

                let errurl = "/board/read/" + boardId;

                console.log("보드아이디"+boardId)

                // alert(url);

                $.ajax({
                    url :url,
                    type : "get" ,
                    dataType : "json",
                    success : function (result) {

                        location.href='/board/list';
                    },
                    error : function (result, status, error) {

                        if(result.status == '401'){
                            // alert(result.responseText+'로그인 후 이용해주세요');
                            alert('로그인 후 이용해주세요');
                            location.href = '/user/login';
                        }else if(result.status == '200') {
                            alert(result.responseText + " 글을 삭제 완료 했다개😥")
                            location.href='/board/list';
                        }else {
                            /*여긴 또 잘 지워짐 ㅇㅅㅇ*/
                            // alert("글을 삭제 완료 했다개😥")
                            alert("확인요망 : " + result.responseText )
                            alert("확인요망 : " + result.status )
                            location.href=errurl;
                        }
                    }
                });
                //삭제버튼은 버튼자체의 태그를 갖는다.

            }


        </script>


    </th:block>

</head>
<body>

<div layout:fragment="content">

    <div style="text-align: right; margin-top: 30px; margin-right: 10px">
        <a href="/board/list" class="btn btn-light">목록</a>
        <a href="/" class="btn btn-light">메인</a>
    </div>

    <br>

    <div class="row row-cols-1  g-4">
        <div class="col">
            <div class="card border-light shadow">

                <div class="card-body">

                    <div style="margin-top: 10px">
                        <a href="/board/list" style="color: black">
                            <h4>👄 대화하개</h4>
                        </a>


                        <span style="text-align: right">
                        </span>

                    </div>


                    <hr>


                    <span class="mb-1" style="margin-left: 20px">

                        <span class="title" style="font-size: 16px; font-weight: bold; text-align: left">
                            [[${boardDTO.title}]]
                        </span>

                        <span style="display: inline-block; font-size: 13px; text-align: right;">
                            [[${boardDTO.writer}]]
                        </span>

                        <div style="display: inline-block; margin-right: 5%">
                            <span style="display: inline-block; font-size: 13px; text-align: right;">
                            [[${#temporals.format(boardDTO.regTime, 'yyyy-MM-dd')}]]
                        </span>

                        <span style="display: inline-block; font-size: 13px; text-align: right; margin-right: 20px">

                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                                <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z"></path>
                                <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0"></path>
                            </svg>

                            [[${boardDTO.view}]]
                        </span>
                        </div>

                    </span>


                    <hr>


                    <div style="margin-left: 25px">

                        [[${boardDTO.content}]]

                        <br>
                        <br>

                        <div th:each="boardImg: ${boardDTO.boardImgDTOList}"> <!--style="text-align: center">-->
                            <img width="80%" th:if="${not #strings.isEmpty(boardImg.imgUrl)}" th:src="${boardImg.imgUrl}" th:alt="${boardImg.imgName}">
                        </div>

                        <br>
                        <br>
                        <br>

                    </div>

                    <!-- 삭제 수정버튼 만들깅 관리자용-->
                    <div sec:authorize="hasRole('ADMIN')" style="text-align: right">

                        <a th:href="@{'/board/remove/' + ${boardId} }" class="btn btn-light btn-sm delBtn">
                            삭제
                        </a>

                        <a th:unless="${boardDTO.createBy} != ${#authentication.principal.username}" th:href="@{'/board/modify/' + ${boardId} }" class="btn btn-light btn-sm modBtn">
                            수정
                        </a>

                    </div>

                    <!--                                   삭제 수정버튼 만들깅 일반-->
                    <div sec:authorize="hasRole('USER')" th:unless="${boardDTO.createBy} != ${#authentication.principal.username}" style="text-align: right">

                        <a th:href="@{'/board/remove/' + ${boardId} }" class="btn btn-danger btn-sm delBtn">
                            삭제
                        </a>

                        <a th:href="@{'/board/modify/' + ${boardId} }" class="btn btn-light btn-sm modBtn">
                            수정
                        </a>

                    </div>

                    <br>


                    <h5>&nbsp;&nbsp;댓글</h5>


                    <hr>


                    <!--댓글-->
                    <div class="panel panel-default" style="margin-top: 20px;" >
                        <div class="panel-heading" sec:authorize="isAuthenticated()">
                            <form class="row g-3 reply" style="margin: auto">
                                <div style="margin-bottom: 20px; text-align: center">
                                    <input  id="exampleFormControlTextarea1" class="form-control replyText replyText1" style="display: inline-block; width: 65%; height: 100px; margin: auto"> &ensp;
                                    <button type="button" class="btn btn-light saveBtn" style=" width: 120px; height: 95px; display: inline; margin: auto">작성</button>
                                </div>
                            </form>


                        </div>

                        <br>
                        <br>

                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <ul class="replylist">


                                <ul class="chat replylist">
                                  <div class="clearfix">

                                      <div class="chat-body clearfix">
<!--                                          <div class="header">-->
<!--                                              <strong class="primary-font">작성자</strong>-->
<!--                                              <small class="pull-right text-muted">-->
<!--                                                  <i class="fa fa-clock-o fa-fw"></i> 작성일-->
<!--                                              </small>-->
<!--                                          </div>-->
<!--                                          <p>-->
<!--                                              내용-->
<!--                                          </p>-->

                                          <div style="text-align: center">
                                              <p>아직 작성된 댓글이 없다개 🥵</p>
                                              <div sec:authorize="isAuthenticated()" style="text-align: center">
                                                  <p>가장 먼저 댓글을 달아보시개🐶</p>
                                              </div>
                                              <div sec:authorize="isAnonymous()" style="text-align: center">
                                                  <p>로그인해서 가장 먼저 댓글을 달아보시개🐶</p>
                                              </div>
                                          </div>
                                      </div>
                                  </div>


                                    <div class="modal fade" id="new-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <label class="replyText1">내용</label>
                                                    <input class="form-control replyText replyText1">
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default saveBtn">Save</button>
                                                    <button type="button" class="btn btn-default modBtnR">modify</button>
                                                    <button type="button" class="btn btn-default removeBtnR">삭제</button>
                                                    <button type="button" class="btn btn-default" id="closeBtn" data-bs-dismiss="modal">Close</button>

                                                </div>
                                            </div>
                                            <!-- /.modal-content -->
                                        </div>
                                        <!-- /.modal-dialog -->
                                    </div>



                                </ul>

                                <br>
                                <br>

                            </ul>

                            <div class="col-sm-6">
                                <div class="dataTables_paginate paging_simple_numbers" id="dataTables-example_paginate">
                                    <ul class="pagination">

                                    </ul>
                                </div>
                            </div>



                        </div>
                    </div>



                    <script src="/js/reply.js"></script>


                </div>


            </div>



            <div style="text-align: right; margin-top: 30px; margin-right: 10px">
                <a href="/board/list" class="btn btn-light">목록</a>
                <a href="/" class="btn btn-light">메인</a>
            </div>


        </div>
    </div>
    <script th:inline="javascript">

        console.log("읽기진입")

        const result = [[${result}]]

        let replyInput = $(".replyInput");


        replyInput.hide()


        if (result){
            alert(result)
        }

        ///////////////////////////

        let boardId = [[${boardDTO.id}]]; //현재 몇 번 글의 댓글인지 알기 위해서
        console.log(boardId);


        let str = ""; //ul 태그 안에 들어갈 html
        let replylist = $(".replylist") //댓글이 달리는 ul태그
        let pagination = $(".pagination") //댓글의 페이징처리 ul태그
        let str2 = ""; //댓글 페이징 처리를 위한 str2

        let replyText1 = $(".replyText1"); //label + input
        let replyText = $(".replyText"); //작성내용 input

        let saveBtn = $(".saveBtn"); // 저장버튼
        let modBtnR = $(".modBtnR"); //수정버튼
        let removeBtnR = $(".removeBtnR"); //삭제버튼

        let reply = $(".reply"); //댓글전체
        let modal = $("#new-modal"); //모달전체

        let thispage = 1;

        console.log(saveBtn)

        //저장버튼 클릭시
        saveBtn.on("click", function (e){
            e.preventDefault()

            alert("ddd")
            console.log(replyText.val())



            let reply = {"boardId" : boardId, "replyText" : replyText.val() }

            let url =  "/replies/new"

            replyservice.register(reply, url, function (data) {
                console.log(data)
                // alert(data.id + "번 댓글이 등록되었습니다.")
                showList(1);

                console.log(data)


            })
            reply.reply("hide")


        })




        //수정버튼 클릭시
        modBtnR.on("click", function (e){

            let reply = {"rno" : modal.data("rno"), "replyText" : replyText.val()}

            let url = "/replies/modify/"
            replyservice.modify(reply, url, function (data) {
                alert(data.rno)
                showList(thispage);
            })
            modal.modal("hide")
        })


        //댓글 리스트 클릭시 수정 모달창 오픈
        //수정
        replylist.on("click", "li", function (e) {
            modal.modal("show");

            modal.find("button[id != closeBtn]").hide() //버튼중에 아이디를 찾는다. id가 closeBtn이 아닌 거
            modal.find("input").hide(); //input 태그 전부 숨긴다.
            modal.find("label").hide();

            //input 태그 벨류값 전부 "" 빈문자열로 초기화
            replyText.val("");

            //내용, 작성자, 일자
            replyText1.show()

            let rno = $(this).data("num");

            let url = "/replies/get/"

            replyservice.read(rno, url, function (data) {

                console.log(data)

                replyText.val(data.replyText)
                modal.data("rno", data.rno);
                console.log(modal.data("rno"))
            });

        })






        //삭제버튼 클릭시
        removeBtnR.on("click", function (){

            let url = "/replies/remove/"

            replyservice.delete(reply.data("id"), url,  function (data){

                alert(data.id)
                showList(1);

            })
            reply.reply("hide")

        })



        let showList = function (page) {
            str = "";
            str2 = "";

            let url = "/replies/list/"

            replyservice.list(page, url, boardId, function (data) {
                console.log(data);
                console.log(data.start);
                thispage = data.page


                if ( data== null || data.dtoList == null || data.dtoList.length == 0  ) {

                    pagination.html(str2);
                    replylist.html(str);

                    return null;

                } else if (data != null && data.dtoList != null && data.dtoList.length >= 0){


                    for (let i = 0; i < data.dtoList.length; i++) {


                        str += `<div  data-num="${data.dtoList[i].id}" class="clearfix ">

                                    <div class="clearfix"><div class="header replyList">
                                        <strong class="primary-font">${data.dtoList[i].replyer}</strong>
                                        <small class="pull-right text-muted">
                                            <i class="fa fa-clock-o fa-fw"></i>${data.dtoList[i].regTime} `
                         if(email == data.dtoList[i].createBy) {
                             str += `   <span > [<a href="" class="modBtnR" style="color: darkgray">수정</a>/<a href="" style="color: darkgray" class="removeBtnR">삭제</a>] </span></small>`
                         }


                        str +=           ` </div>
                                        <p>${data.dtoList[i].replyText}</p>
                                    </div>
                                </div>`;
                    }


                    if (data.prev) {
                        str2 += `<li class="page-item previous " aria-controls="dataTables-example" tabindex="0" id="dataTables-example_previous">
                <a class="page-link" data-num="${data.start - 1}">이전</a>
            </li>`;
                    }
                    for (let i = data.start, j = data.end; i <= j; i++) {
                        str2 += `<li class="page-item ${i == data.page ? 'active' : ''}" aria-controls="dataTables-example" tabIndex="0">
                    <a class="page-link" data-num="${i}">${i}</a>
                </li>`;

                    }
                    if (data.next) {
                        str2 += `<li class="page-item" aria-controls="dataTables-example" tabindex="0" id="dataTables-example_next">
                <a class="page-link" data-num="${data.end + 1}">Next</a>
            </li>`
                    }

                    pagination.html(str2);
                    replylist.html(str);

                }
            })


        }

        pagination.on("click", "a", function (e){

            let datanum = $(e.target).data("num")

            showList(datanum)

        })

        showList(1);





    </script>
</div>










</body>
</html>