<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/layout1}">
<head>
    <link rel="stylesheet" href="/css/layout1.css" />
    <meta charset="UTF-8">
    <title>모르는 개 산책 :: 대화하개</title>
</head>
<body>

<div layout:fragment="content">

    <div class="row row-cols-1  g-4">

        <div class="col">
            <div class="card border">




                <div class="card-body" style="height: 500px;">

                    <h4>👄 대화하개</h4>

                    <a href="/board/new" class="btn btn-light newBtn" sec:authorize="isAuthenticated()">글작성하개</a>

                    집사들이 자유롭게 떠들 수 있는 공간이개
                    <hr>

                    <div style="margin-left: 10px; margin-bottom: 15px; margin-right: 10px; margin-top: 15px">
                        <table class="table" style="width:100%;  text-align: center">


                            <thead>
                            <tr class="table-danger">
                                <th scope="col" style="width:10%">글번호</th>
                                <th scope="col" style="width:55%">제  목</th>
                                <th scope="col" style="width:10%">작성자</th>
                                <th scope="col" style="width:15%">작성일</th>
                                <th scope="col" style="width:10%">조회수</th>
                            </tr>
                            </thead>



                            <tbody>

                            <th:block th:each="notice, status: ${notice.getContent()} ">

                                <tr role="row" class="table-light">
                                    <th scope="row" style="font-size: small">[ 공지 ]</th>
                                    <td style="text-align: left;">
                                        <a style="color: black;" th:href="'/notice/read/'+ ${notice.id}">
                                            &nbsp;
                                             [[${notice.title}]]

                                        </a>
                                    </td>
                                    <td>[[${notice.writer}]]</td>
                                    <td>[[${#temporals.format(notice.regTime, 'yyyy-MM-dd')}]]</td>
                                    <td>[[${notice.view}]]</td>
                                </tr>

                            </th:block>


                            <th:block th:each="dto: ${pageResponseDTO.dtoList}">

                                <tr role="row">
                                    <th scope="row" style="font-size: small">[[${dto.id}]]</th>
                                    <td style="text-align: left;">

                                        <a style="color: black;" th:href="'/board/read/'+ ${dto.id}">
                                            &nbsp;

                                            [ <span th:if="${dto.boardCategory.name() == 'FREE_TALK'}" th:id="${dto.boardCategory}" class="mb-1 end">자유</span>
                                            <span th:if="${dto.boardCategory.name() == 'QUESTION'}" th:id="${dto.boardCategory}" class="mb-1 end">질문</span>
                                            <span th:if="${dto.boardCategory.name() == 'SHARE'}" th:id="${dto.boardCategory}" class="mb-1 end">나눔</span>
                                            <span th:if="${dto.boardCategory.name() == 'REVIEW'}" th:id="${dto.boardCategory}" class="mb-1 end">후기</span> ]

                                             [[${dto.title}]]  ([[${dto.replyCount}]])

                                        </a>
                                    </td>
                                    <td>[[${dto.writer}]]</td>
                                    <td>[[${#temporals.format(dto.regTime, 'yyyy-MM-dd')}]]</td>
                                    <td>[[${dto.view}]]</td>
                                </tr>
                            </th:block>



                            </tbody>


                        </table>


                        <div th:if="${#lists.isEmpty(pageResponseDTO.dtoList)}" >

                            <br>
                            <br>
                            <br>

                            <h3 style="text-align: center"> 아직 작성된 글이 없다개 👻 </h3>

                        </div>


                    </div>





                </div>

                <div>

                    <th:block th:if="${pageResponseDTO.total > 10}">
                        <ul class="pagination">

                            <!--맨앞-->
                            <li class="page-item" >
                                <a class="page-link"   onclick="'javascript:page(1)'"> << </a>
                            </li>

                            <!--이전-->
                            <li class="page-item" th:classappend="${pageResponseDTO.prev} ? 'disabled' : ''">
                                <a class="page-link"   th:onclick="'javascript:page(' + ${boards.number - 1} + ')'  "> < </a>
                            </li>

                            <!--반복-->
                            <li class="page-item" th:each="page1: ${#numbers.sequence(pageResponseDTO.start,pageResponseDTO.end)}"  th:classappend="${pageResponseDTO.page eq page1 -1 } ? 'active' : ''">
                                <a class="page-link"  th:onclick="'javascript:page(' + ${page1 - 1} + ')'  ">[[${page1}]]</a>
                            </li>

                            <!--다음-->
                            <li class="page-item" th:classappend="${pageResponseDTO.next} ? 'disabled' : ''">
                                <a class="page-link" th:onclick="'javascript:page(' + ${boards.number + 1} + ')'  "> > </a>
                            </li>

                            <!--맨마지막-->
                            <li class="page-item" th:classappend="${boards.last} ? 'disabled' : ''">
                                <a class="page-link" th:onclick="'javascript:page(' + ${boards.last} + ')'  "> >> </a>
                            </li>
                        </ul>
                    </th:block>

                </div>

            </div>
        </div>
    </div>

</div>

</body>
</html>