<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <th:block layout:fragment="script">

        <script th:inline="javascript">

            $(document).ready(function errMsg() {

                var errorMessage = [[${errorMessage}]]
                if (errorMessage != null) {
                    alert(errorMessage);
                }
            })

        </script>
    </th:block>

</head>
<body>

<div layout:fragment="content">

    <div class="row row-cols-1  g-4">
        <div class="col">
            <div class="card border-light shadow">

                <div class="card-body">

                    <h4>대화하개</h4>

                    <hr>

                    <div class="row row-cols-1  row-cols-md-1">
                        <div class="col">


                            <form  method="post" th:object="${boardDTO}" enctype="multipart/form-data">

                                <input type="hidden" th:field="*{id}">

                                <select class="form-select mb-3" th:field="*{boardCategory}" aria-label="Default select example">
                                    <option value="FREE_TALK" selected>자유</option>
                                    <option value="QUESTION">질문</option>
                                    <option value="SHARE">나눔</option>
                                    <option value="REVIEW">리뷰</option>
                                </select>

                                <!--                                <input type="text" th:field="*{writer}">-->
                                <!--<input type="text" readonly th:value="${userDTO.nickname}">-->


                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="title">제목</span>
                                    <input type="text"  th:field="*{title}" class="form-control" placeholder="제목을 입력해주세요" aria-label="Username" aria-describedby="basic-addon1">
                                    <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="fieldError">

                                    </p>
                                </div>


                                <div class="input-group mb-3">
                                    <span class="input-group-text">글 상세 내용</span>
                                    <textarea class="form-control" th:field="*{content}" aria-label="상세 내용을 입력해주세요"></textarea>
                                    <p th:if="${#fields.hasErrors('content')}" th:errors="*{content}" class="fieldError">

                                    </p>
                                </div>



                                <!-- if 만약에 넘어오는 이미지 파일이 없다면-->

                                <div th:if =  "${#lists.isEmpty(boardDTO.boardImgDTOList)}">
                                    <div class="input-group mb-3" th:each="num: ${#numbers.sequence(1,5)}">
                                        <input type="file" class="form-control cutom-file-input" name="boardImgFile">
                                        <label class="input-group-text cutom-file-label" th:text="이미지 + ${num}">Upload</label>
                                    </div>
                                </div>

                                <div th:if =  "${not #lists.isEmpty(boardDTO.boardImgDTOList)}">
                                    <div class="input-group  mb-3" th:each="boardImgDTO, status: ${boardDTO.boardImgDTOList}">

                                        <input type="file"  class="form-control form-control-file" th:id="${status.index+1}" name="boardImgfile" >

                                        <input type="text" class="form-control"  name="boardImgIds" th:value="${boardImgDTO.id}">


                                        <label th:for="${status.index+1}" class="input-group-text form-control-label" th:text="${not #strings.isEmpty(boardImgDTO.oriImgName)} ? ${boardImgDTO.oriImgName} : '상품이미지'" >Upload</label>
                                    </div>
                                </div>


                                <!--                                 넘어오는 이미지 파일이 있다면 , 데이터값 db-->
                                <div th:if =  "${#strings.isEmpty(boardDTO.id)}" style="text-align: center">

                                    <button th:formaction="@{/board/new}" type="submit" class="btn btn-danger">작성완료</button>

                                </div>


                                <button th:formaction="@{'/board/modify/' + ${boardId} }" class="btn btn-light btn-sm modBtn">
                                    수정
                                </button>


                            </form>



                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

</div>

</body>
</html>