<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<head>
    <link rel="stylesheet" href="/css/layout1.css" />
    <meta charset="UTF-8">
    <title>모르는 개 산책 :: [[${noticeDTO.title}]] 상세보기</title>

    <th:block layout:fragment="script">

        <script th:inline="javascript">
            $(document).ready(function () {
                var errorMessage = [[${errorMessage}]];

                if (errorMessage != null) {
                    //모달로 띄우면 좀더 아름답지 않을까?
                    alert(errorMessage);
                }


                /*삭제버튼을 눌렀을때 장바구니 아이템 삭제*/
                $(".delBtn").on("click", function () {


                    if (confirm("정말 삭제하시겠습니까? 😥") == true) {    //확인

                        let a = $(this).find('span:eq(0)')  //jquery

                        console.log(a)

                        deleteNotice(a)

                    } else {


                    }

                })

            })


            function deleteNotice(obj){



                let noticeId = [[${noticeDTO.id}]]    //아이템의 아이디를 가져온다.
                let url = "/admin/notice/remove/" + noticeId;

                let url1 = "/notice/read/" + noticeId;

                console.log(noticeId)

                // alert(url);

                $.ajax({
                    url :url,
                    type : "get" ,
                    dataType : "json",
                    success : function (result) {

                        location.href='/notice/list';
                    },
                    error : function (result, status, error) {

                        if(result.status == '401'){
                            // alert(result.responseText+'로그인 후 이용해주세요');
                            alert('권한이 없다개');
                            location.href = '/user/login';
                        }else if(result.status == '200') {
                            alert(result.responseText + " 글을 삭제 완료 했습니다😥")
                            location.href='/notice/list';
                        }else {
                            // alert("글을 삭제 완료 했습니다😥")
                            alert("확인요망 : " + result.responseText )
                            alert("확인요망 : " + result.status )
                            location.href=url1;
                        }
                    }
                });
                //삭제버튼은 버튼자체의 태그를 갖는다.

            }

        </script>


    </th:block>

</head>
<body>

<div layout:fragment="content">

    <div class="row row-cols-1  g-4">
        <div class="col">
            <div class="card border-light shadow">

                <div class="card-body">

                    <div style="margin-top: 10px">
                        <h4>🐶 공지하개</h4>

                        <span style="text-align: right">
                        </span>

                    </div>


                    <hr>


                    <span class="mb-1" style="margin-left: 20px">

                        <span class="title" style="font-size: 16px; font-weight: bold; text-align: left">
                            [[${noticeDTO.title}]]
                        </span>

                        <span style="display: inline-block; font-size: 13px; text-align: right;">
                            [[${noticeDTO.writer}]]
                        </span>

                        <span style="display: inline-block; font-size: 13px; text-align: right;">
                            [[${#temporals.format(noticeDTO.regTime, 'yyyy-MM-dd')}]]
                        </span>

                        <span style="display: inline-block; font-size: 13px; text-align: right; margin-right: 20px">

                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                                <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z"></path>
                                <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0"></path>
                            </svg>

                            [[${noticeDTO.view}]]
                        </span>

                    </span>


                    <hr>


                    <div style="margin-left: 25px">

                        [[${noticeDTO.content}]]

                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>



                    </div>

                    <!-- 삭제 수정버튼 만들깅 관리자용-->
                    <div sec:authorize="hasRole('ADMIN')" style="text-align: right">

                        <a th:href="@{'/admin/notice/remove/' + ${noticeId} }" class="btn btn-light btn-sm delBtn">
                            삭제
                        </a>

                        <a th:href="@{'/admin/notice/modify/' + ${noticeId} }" class="btn btn-light btn-sm modBtn">
                            수정
                        </a>

                    </div>

                </div>









            </div>

            <div style="text-align: right; margin-top: 30px; margin-left: 10px">
                <a href="/notice/list" class="btn btn-danger">목록</a>
                <a href="/" class="btn btn-light">메인</a>
            </div>


        </div>
    </div>
</div>


</body>
</html>