<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<head>
    <link rel="stylesheet" href="/css/layout1.css" />
    <meta charset="UTF-8">
    <title>산책 정보</title>
</head>
<body>

    <div layout:fragment="content">

        <div class="row row-cols-1  g-4">
            <div class="col">
                <div class="card border-light shadow">

                    <div class="card-body">
                        <div style="margin-top: 10px">
                            <h4>🐶 산책 정보</h4>

                            <span style="text-align: right">
                        </span>

                        </div>


                        <hr>


                        홍길동


                    </div>

                </div>
            </div>
        </div>

    </div>

</body>
</html>