<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<head>
    <link rel="stylesheet" href="/css/layout1.css" />
    <meta charset="UTF-8">
    <title>모르는 개 산책 :: 내 정보</title>

    <th:block layout:fragment="script">

        <script th:inline="javascript">
            $(document).ready(function () {
                var errorMessage = [[${errorMessage}]];

                if (errorMessage != null) {
                    //모달로 띄우면 좀더 아름답지 않을까?
                    alert(errorMessage);
                }
                /*삭제버튼을 눌렀을때 장바구니 아이템 삭제*/
                $(".delBtn").on("click", function () {


                    if (confirm("정말 탈퇴하시겠습니까? 😥") == true) {    //확인

                        let a = $(this).find('span:eq(0)')  //jquery

                        console.log(a)

                        deleteUser(a)

                    } else {


                    }



                })

            })


            function deleteUser(obj) {

                var userId = [[${userDTO.id}]];
                let url = "/user/remove/" + userId;

                let url1 = "/user/modify" + userId;

                console.log(userId)

                // alert(url);

                $.ajax({
                    url: url,
                    type: "get",
                    dataType: "json",
                    success: function (result) {

                        location.href = '/';
                    },
                    error: function (result, status, error) {

                        if (result.status == '401') {
                            alert(result.responseText+'로그인 후 이용해주세요');
                            location.href = '/user/login';
                        } else if (result.status == '200') {
                            alert(result.responseText + "님 탈퇴 완료했다개 안녕히 가시개😥")
                            location.href = '/user/logout';
                        } else {
                            // alert("글을 삭제 완료 했습니다😥")
                            alert("확인요망 : " + result.responseText)
                            alert("확인요망 : " + result.status)
                            location.href = url1;
                        }
                    }
                })
                //삭제버튼은 버튼자체의 태그를 갖는다.
            }

        </script>


    </th:block>

</head>
<body>

    <div layout:fragment="content">

        <div class="row row-cols-1  g-4">
            <div class="col">
                <div class="card border-light shadow">

                    <div class="card-body">

                        <div style="margin-top: 10px">
                            <h4>🐶 내 정보 보개</h4>

                            <span style="text-align: right">
                        </span>

                        </div>


                        <hr>


                        <form  method="post" th:object="${userDTO}">

                            <input type="hidden" th:field="*{id}">


                            <!-- 이름-->
                            <div class="row g-5 align-items-center">
                                <div class="col-auto">
                                    <label for="name" class="form-label">이  름</label>
                                </div>

                                <div class="col-auto">
                                    <input type="text" class="form-control" th:field="*{name}" > <!--placeholder="이름을 입력하라개"-->
                                </div>

                                <div class="col-auto">
                                            <span id="nameHelpInline" class="form-text">
                                                <p th:if="${#fields.hasErrors('name')}"    th:errors="*{name}" class="fieldError" ></p>
                                            </span>
                                </div>

                            </div>

                            <br>


                            <!-- 이메일-->
                            <div class="row g-4 align-items-center">
                                <div class="col-auto">
                                    <label for="email" class="form-label">이 메 일</label>
                                </div>

                                <div class="col-auto" style="display:inline;">
                                    <input type="email" class="form-control" th:field="*{email}" readonly><!--placeholder="이메일을 입력하라개">-->
                                </div>

                            </div>

                            <br>


                            <!-- 비밀번호-->
                            <div class="row g-4 align-items-center">
                                <div class="col-auto">
                                    <label for="password" class="form-label">비밀번호</label>
                                </div>

                                <div class="col-auto">
                                    <input type="text" class="form-control"  th:field="*{password}" ><!--placeholder="비밀번호를 입력하라개">-->
                                </div>

                                <div class="col-auto">
                                    <label for="password2" class="form-label">비밀번호 확인</label>
                                </div>

                                <div class="col-auto">
                                    <input type="text" class="form-control"  th:field="*{password2}" ><!--placeholder="비밀번호를 입력하라개">-->
                                </div>

                                <div class="col-auto">
                                    <label id="label3"></label>
                                </div>

                                <div class="col-auto">
                                            <span id="passwordHelpInline" class="form-text">
                                                <p th:if="${#fields.hasErrors('password')}"    th:errors="*{password}" class="fieldError" ></p>
                                            </span>
                                </div>
                            </div>


                            <br>


                            <!-- 닉네임-->
                            <div class="row g-5 align-items-center">
                                <div class="col-auto">
                                    <label for="nickname" class="form-label">별  명</label>
                                </div>

                                <div class="col-auto">
                                    <input type="text" class="form-control" th:field="*{nickname}" ><!--placeholder="별명을 입력하라개">-->
                                </div>

                                <div class="col-auto">
                                    <button type="button" value="dupCheckN" id="nNameChk" class="btn btn-light"  style="background-color: honeydew; --bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">중복확인</button>
                                </div>

                                <div class="col-auto">
                                    <label id="label2"></label>
                                </div>

                                <span id="nicknameHelpInline" class="form-text">
                                            <p th:if="${#fields.hasErrors('nickname')}"    th:errors="*{nickname}" class="fieldError" ></p>
                                        </span>

                            </div>





                            <br>


                            <!-- 주소 추후 셀렉트 박스로 바꿀 것 -->
                            <div class="row g-5 align-items-center">
                                <div class="col-auto">
                                    <label for="address" class="form-label">주  소</label>
                                </div>
                                <div class="col-auto">
                                    <input type="text" class="form-control" th:field="*{address}" ><!--placeholder="주소를 입력하라개">-->
                                </div>

                                <div class="col-auto">
                                            <span id="addHelpInline" class="form-text">
                                                동까지 입력해주시개
                                                <p th:if="${#fields.hasErrors('address')}"    th:errors="*{address}" class="fieldError" ></p>
                                            </span>
                                </div>

                            </div>


                            <!--                                    삭제 수정버튼 만들깅-->
                            <div style="margin: 0 auto; text-align: right">

                                <a th:formaction="@{'/user/modify/' + ${id} }" class="btn btn-light regiBtn">
                                    수정
                                </a>

                                <button class="btn btn-danger delBtn">
                                    탈퇴
                                </button>

                            </div>


                        </form>




                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>