<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<head>
    <link rel="stylesheet" href="/css/layout1.css" />
    <meta charset="UTF-8">
    <title>모르는 개 산책 :: 산책 정보</title>
</head>
<body>

    <div layout:fragment="content">

        <div class="row row-cols-1  g-4">
            <div class="col">
                <div class="card border-light shadow">

                    <div class="card-body">

                        <div >

                            <!--목록이 비어있다면-->

                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>

                            <div style="text-align: center">

                                <img src="/img/네잎클로버.png" width="400">


                                <h5>공사중!!! 추후 편집 예정🙀🙀🙀</h5>

                            </div>

                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                        </div>


                    </div>

                </div>
            </div>
        </div>

    </div>

</body>
</html>