<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<head>

    <meta charset="UTF-8">
    <title>모르는 개 산책 :: 어서오시개</title>

    <script th:inline="javascript">

        $(document).ready(function () {
            $(".search").on("click", function (e) {
                e.preventDefault();
                page(0)
            })

            const adminErr = [[${adminErr}]]
            if (adminErr){
                alert(adminErr)
            }

            function page(page) {
                location.href= "/" + page;
            }

        })

    </script>

</head>
<body>

    <div layout:fragment="content">

        <div class="row row-cols-1  g-4 mb-3">


<!--            <div class="col">-->
<!--                <img src="/img/main.png" class="img-fluid" alt="메인이미지">-->
<!--            </div>-->

            <div class="col">
                <div class="card border ">



                    <div class="card-body">

                        <h4>🦮 산책하개 최신글 !</h4>
                        <div style="display: inline-block; text-align: right">
                            <a href="/quest/list" style="display: inline-block; color: black"> +) 더보기 </a>
                        </div>

                        <hr>


                        <div class="row row-cols-2  row-cols-md-5 mt-2" >

                            <th:block th:each="quest, status: ${quests.getContent()}">

                                <div class="col">

                                    <div class="card border">

                                        <div class="card-body">


                                            <div class="row row-cols-1  g-4">

                                                <a class="card-link " th:href="'/quest/read/' + ${quest.id}"  style="color: black">

                                                    <div class="ratio ratio-1x1 mb-1">
                                                        <img alt="" th:src="${quest.imgUrl}" heigh="100%" class="card-img-top ratio ratio-1x1">
                                                    </div>

                                                    <span th:if="${quest.questStatus.name() == 'UNSUCCESS'}" class="badge text-bg-success  mb-1 end">도와주개</span>
                                                    <span th:if="${quest.questStatus.name() == 'SUCCESS'}" class="badge text-bg-danger mb-1 end">완료다개</span>

                                                    <div class="font-size small">
                                                        [[${quest.area}]]
                                                    </div>
                                                    <div class="card-desc mb-1">
                                                        <h2 class="card-title"></h2>
                                                        <div class="card-desc mb-1">
                                                            [[${quest.title}]]
                                                        </div>
                                                        <div class="card-price" >
                                                            [[${quest.salaryOption}]] <span th:if="${quest.salary} != 0">[[${quest.salary}]] 원</span>

<!--                                                            <span style="text-align:right">-->
<!--                                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">-->
<!--                                                                  <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71z"></path>-->
<!--                                                                  <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0"></path>-->
<!--                                                                </svg>-->
<!--                                                                [[${quest.regTime}]]-->
<!--                                                            </span>-->
                                                        </div>
                                                        <div class="card-counts">
                                                        </div>
                                                    </div>
                                                </a>


                                            </div>




                                    </div>

                                    </div>

                                </div>


                            </th:block>


                        </div>


                    </div>

                </div>

            </div>

        </div>





        <div class="row row-cols-1 g-4 row-cols-md-2">

            <div >


                <!--            <div class="col">-->
                <!--                <img src="/img/main.png" class="img-fluid" alt="메인이미지">-->
                <!--            </div>-->

                <div class="col">
                    <div class="card border ">



                        <div class="card-body">

                            <h4>🐶 공지하개 최신글 !</h4>

                            <div style="text-align: right">
                                <a href="/notice/list" style="color: black"> +) 더보기 </a>
                            </div>

                            <hr>


                            <div style="margin-left: 10px; margin-bottom: 15px; margin-right: 10px; margin-top: 15px; font-size: small">
                                <table class="table" style="width:100%; text-align: center">
                                    <thead>
                                    <tr class="table-danger">
                                        <th scope="col" style="width:10%">번호</th>
                                        <th scope="col" style="width:55%">제  목</th>
                                        <th scope="col" style="width:10%">작성자</th>
                                        <th scope="col" style="width:15%">작성일</th>
                                        <th scope="col" style="width:10%">조회수</th>
                                    </tr>
                                    </thead>
                                    <th:block th:each="notice, status: ${notice.getContent()} ">
                                        <tbody>
                                        <tr role="row">
                                            <th scope="row">[[${notice.id}]]</th>
                                            <td style="text-align: left;">
                                                <a  style="color: black" th:href="'/notice/read/'+ ${notice.id}">[[${notice.title}]]</a>
                                            </td>
                                            <td>[[${notice.writer}]]</td>
                                            <td>[[${#temporals.format(notice.regTime, 'yyyy-MM-dd')}]]</td>
                                            <td>[[${notice.view}]]</td>
                                        </tr>
                                        </tbody>
                                    </th:block>
                                </table>
                            </div>


                        </div>

                    </div>

                </div>

            </div>

            <div>


                <!--            <div class="col">-->
                <!--                <img src="/img/main.png" class="img-fluid" alt="메인이미지">-->
                <!--            </div>-->

                <div class="col">
                    <div class="card border ">



                        <div class="card-body">

                            <h4>👄 대화하개 최신글 !</h4>

                            <div style="text-align: right">
                                <a href="/board/list" style="color: black"> +) 더보기 </a>
                            </div>

                            <hr>


                            <div style="margin-left: 10px; margin-bottom: 15px; margin-right: 10px; margin-top: 15px; font-size: small">
                                <table class="table" style="width:100%; text-align: center">
                                    <thead>
                                    <tr class="table-danger">
                                        <th scope="col" style="width:8%">번호</th>
                                        <th scope="col" style="width:55%">제  목</th>
                                        <th scope="col" style="width:12%">작성자</th>
                                        <th scope="col" style="width:15%">작성일</th>
                                        <th scope="col" style="width:10%">조회수</th>
                                    </tr>
                                    </thead>
                                    <th:block th:each="board, status: ${boards.getContent()} ">
                                        <tbody>
                                        <tr role="row">
                                            <th scope="row">[[${board.id}]]</th>
                                            <td style="text-align: left;">
                                                <a style="color: black;" th:href="'/board/read/'+ ${board.id}">
                                                    &nbsp;

                                                    [ <span th:if="${board.boardCategory.name() == 'FREE_TALK'}" th:id="${board.boardCategory}" class="mb-1 end">자유</span>
                                                    <span th:if="${board.boardCategory.name() == 'QUESTION'}" th:id="${board.boardCategory}" class="mb-1 end">질문</span>
                                                    <span th:if="${board.boardCategory.name() == 'SHARE'}" th:id="${board.boardCategory}" class="mb-1 end">나눔</span>
                                                    <span th:if="${board.boardCategory.name() == 'REVIEW'}" th:id="${board.boardCategory}" class="mb-1 end">후기</span> ]

                                                    [[${board.title}]]

                                                </a>
                                            </td>
                                            <td>[[${board.writer}]]</td>
                                            <td>[[${#temporals.format(board.regTime, 'yyyy-MM-dd')}]]</td>
                                            <td>[[${board.view}]]</td>
                                        </tr>
                                        </tbody>
                                    </th:block>
                                </table>
                            </div>


                        </div>

                    </div>

                </div>

            </div>



        </div>

    </div>










</body>
</html>